{% extends "layout.html" %}

{% block content %}
    <h2><a href="/?token={{ access_token }}">SigningHub Example</a> - Sign Agreement</h2>

    {% if not file %}
        <form method="post" enctype="multipart/form-data" action="/ndc_billing_dynamic?package_id={{ package_id }}
        &access_token={{ access_token }}
        &package_name={{ package_name }}">
            <div>
                <label for="username">First Recepient Username:</label>
                <input type="text" id="username" name="username" value="">
            </div>
            <div>
                <label for="admin_username">Admin Username:</label>
                <input type="text" id="admin_username" name="admin_username" value="">
            </div>
            <div>
                <label for="admin_password">Admin Password:</label>
                <input type="text" id="admin_password" name="admin_password" value="">
            </div>
            <div>
                <label for="client_id">Client ID:</label>
                <input type="text" id="client_id" name="client_id" value="">
            </div>
            <div>
                <label for="client_secret">Client Secret:</label>
                <input type="text" id="client_secret" name="client_secret" value="">
            </div>


            <input type="file" name="file">
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    {#<iframe id="id_sh_iframe" name="sh_iframe" width="100%" height="800px"#}
    {#    src="https://staging-sh.bcc-ca.gov.bd:91/Integration?access_token={{ access_token }}&document_id={{package_id }}&language=en-us&user_email={{ user_email }}"/>#}

    <br/>
    <p><a href="/?token={{ access_token }}">Return Home</a></p>
{% endblock %}
